:root {
  --color-primary: #2ba84a;
  --color-secondary: #eda24e;
  --color-emphasis: #c05c35;
  --color-hover: #8a452a;
  --color-text: #212121;
  --color-bg: #f0ece5;
  --color-bg2: #e7ece6;
  --color-white: #ffffff;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--color-text);
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: var(--color-white);
}

h1,
h2,
h3 {
  font-weight: 700;
}

.hero-bg {
  background-image: linear-gradient(
      rgba(78, 62, 52, 0.774),
      rgba(29, 26, 26, 0.884)
    ),
    url('./images/hero.jpg');
  background-size: cover;
  background-position: bottom;
  padding: 20px 0 20px;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
}

.title-main {
  font-size: 5rem;
  color: var(--color-secondary);
  margin-bottom: 5px;
  line-height: 1.1;
  font-family: 'Fascinate', system-ui;
}

.title-main .divider {
  color: var(--color-white);
  padding-left: 0.5rem;
}

.title-main .emphasis {
  color: var(--color-emphasis);
}

.slogan {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-white);
  margin-bottom: 30px;
}

.description {
  color: var(--color-white);
  font-size: 1.2rem;
  margin-bottom: 50px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.find-more {
  color: var(--color-white);
  font-size: 0.9rem;
  margin-bottom: 50px;
  max-width: 800px;
  padding-top: 60px;
  margin: auto;
}

.arrow-down {
  display: block;
  margin: 10px auto;
  animation: float 1.5s infinite ease-in-out;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.section-tip {
  padding: 80px 0;
}

.section-title {
  font-size: 2.2rem;
  position: relative;
  padding-bottom: 4px;
  margin-bottom: 1rem;
}

.tip-box {
  max-width: 600px;
  margin: 0 auto;
}

.tip-text {
  font-size: 1.125em;
  font-style: italic;
  color: var(--color-text);
}

.section-more {
  padding: 50px 0;
  background-color: var(--color-bg);
}

.ptext {
  text-align: center;
  font-size: 1.1em;
  margin: 0 auto 20px;
  max-width: 800px;
}

.ods-tags-group {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 48px;
}

.ods-tag {
  border-radius: 0.5rem;
  padding: 0.25rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--color-white);
  display: inline-flex;
  align-items: center;
}

.ods-12 {
  background-color: #b9882e;
  text-decoration: none;
  color: var(--color-white);
}

.ods-13 {
  background-color: #417e48;
  text-decoration: none;
  color: var(--color-white);
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.card {
  padding: 24px;
  background-color: var(--color-white);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  border: 1px solid #e0e0e0;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-size: 1.25em;
  font-weight: 600;
  color: var(--color-text);
  margin-bottom: 8px;
}

.card-text {
  color: var(--color-text);
}

.icon-accent {
  font-size: 2em;
  color: var(--color-emphasis);
  margin-bottom: 12px;
}

.section-itapevi {
  padding: 50px 0;
}

.bar {
  border-bottom: 4px solid var(--color-primary);
  max-width: 1200px;
  margin: 50px auto;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 48px;
  align-items: center;
}

.space-text {
  padding-right: 20px;
}

.space-text h3,
.space-text p {
  margin-top: 0;
  margin-bottom: 0.4rem;
  line-height: 1.4;
}

.solution-box {
  background-color: var(--color-bg);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 5px 6px rgba(10, 5, 5, 0.1);
}

.section-brecho {
  padding: 50px 0;
  background-color: var(--color-bg2);
}

.brecho-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
  background-color: var(--color-white);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s, box-shadow 0.3s;
}

.brecho-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.brecho-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--color-text);
  margin-bottom: 8px;
}

.brecho-text {
  color: var(--color-text);
  font-size: 0.9rem;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
  font-weight: 700;
  border-radius: 100px;
  text-decoration: none;
  transition: all 0.3s;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--color-emphasis);
  color: var(--color-white);
}

.btn-primary:hover {
  background-color: var(--color-hover);
  transform: scale(1.05);
}

.btn-secondary {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 2px 6px;
  font-size: 1em;
}

.btn-secondary:hover {
  background-color: #307c33;
}

.btn-brecho {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.btn-brecho:hover {
  background-color: #307c33;
  transform: scale(1.05);
}

.section-descarte {
  padding: 50px 0;
  color: var(--color-text);
}

.footer {
  background-color: var(--color-hover);
  color: var(--color-white);
  font-size: 0.9em;
  line-height: 0;
}

.container-footer {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 10px 0;
  text-align: center;
}

.container-footer p {
  font-size: 0.9rem;
}

.footer-link {
  color: var(--color-secondary);
  text-decoration: none;
  transition: all ease 0.3s;
}

.footer .small-text {
  font-size: small;
}

.footer-link:hover {
  opacity: 60%;
  text-decoration: underline;
}

@media (max-width: 992px) {
  .grid-3,
  .grid-2 {
    grid-template-columns: 1fr;
  }

  .grid-2 {
    gap: 30px;
  }

  .title-main {
    font-size: 4rem;
  }

  .description {
    font-size: 1rem;
  }
}

@media (min-width: 640px) and (max-width: 992px) {
  #brechos-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
